In [1]:
# Imports
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
from random import sample
from itertools import combinations
from statsmodels.stats.power import TTestIndPower, TTestPower
import math
import seaborn as sns
import scipy as sp
import pandas as pd
from matplotlib.lines import Line2D
import random
import statsmodels.api as sm
from itertools import combinations
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from statsmodels.stats.stattools import jarque_bera

In [2]:
# creating initial data frame
df = pd.read_csv('data/kc_house_data.csv')

In [3]:
# checking original df
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188

In [4]:
# checking for nulls
df.isna().sum()

id                0
date              0
price             0
bedrooms          0
bathrooms         0
sqft_living       0
sqft_lot          0
floors            0
waterfront        0
greenbelt         0
nuisance          0
view              0
condition         0
grade             0
heat_source      32
sewer_system     14
sqft_above        0
sqft_basement     0
sqft_garage       0
sqft_patio        0
yr_built          0
yr_renovated      0
address           0
lat               0
long              0
dtype: int64

In [5]:
# dropping nulls
df.dropna(inplace=True)

In [6]:
# confirming nulls dropped
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
greenbelt        0
nuisance         0
view             0
condition        0
grade            0
heat_source      0
sewer_system     0
sqft_above       0
sqft_basement    0
sqft_garage      0
sqft_patio       0
yr_built         0
yr_renovated     0
address          0
lat              0
long             0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30111 entries, 0 to 30154
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             30111 non-null  int64
 1   date           30111 non-null  object
 2   price          30111 non-null  float64
 3   bedrooms       30111 non-null  int64
 4   bathrooms      30111 non-null  float64
 5   sqft_living    30111 non-null  int64
 6   sqft_lot       30111 non-null  int64
 7   floors         30111 non-null  float64
 8   waterfront     30111 non-null  object
 9   greenbelt      30111 non-null  object
 10  nuisance       30111 non-null  object
 11  view           30111 non-null  object
 12  condition      30111 non-null  object
 13  grade          30111 non-null  object
 14  heat_source    30111 non-null  object
 15  sewer_system   30111 non-null  object
 16  sqft_above     30111 non-null  int64
 17  sqft_basement  30111 non-null  int64
 18  sqft_garage    30111 non-null  int64
 19  sqft_patio     30111 non-null  int64
 20  yr_built       30111 non-null  int64
 21  yr_renovated   30111 non-null  int64
 22  address        30111 non-null  object
 23  lat            30111 non-null  float64
 24  long           30111 non-null  float64
dtypes: float64(5), int64(10), object(10)
memory usage: 6.0+ MB

In [8]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,lat,long
count,3.011100e+04,3.011100e+04,30111.000000,30111.000000,30111.000000,3.011100e+04,30111.000000,30111.000000,30111.000000,30111.000000,30111.000000,30111.000000,30111.000000,30111.000000,30111.000000
mean,4.539171e+09,1.108971e+06,3.415197,2.335708,2113.342798,1.664880e+04,1.543506,1810.389658,476.617117,330.475308,217.451264,1975.162299,90.792767,47.328482,-121.318872
std,2.882236e+09,8.965158e+05,0.979755,0.888293,973.453260,5.993303e+04,0.567789,877.726339,579.805355,285.725020,245.301991,32.052930,416.197627,1.433309,5.724073
min,1.000055e+06,2.736000e+04,0.000000,0.000000,3.000000,4.020000e+02,1.000000,2.000000,0.000000,0.000000,0.000000,1900.000000,0.000000,21.274240,-157.791480
25%,2.070850e+09,6.492360e+05,3.000000,2.000000,1420.000000,4.850000e+03,1.000000,1180.000000,0.000000,0.000000,40.000000,1953.000000,0.000000,47.405348,-122.326075
50%,3.876000e+09,8.600000e+05,3.000000,2.500000,1920.000000,7.477000e+03,1.500000,1560.000000,0.000000,400.000000,150.000000,1977.000000,0.000000,47.551440,-122.225790
75%,7.287100e+09,1.300000e+06,4.000000,3.000000,2620.000000,1.056800e+04,2.000000,2270.000000,940.000000,510.000000,320.000000,2003.000000,0.000000,47.669917,-122.116394
max,9.904000e+09,3.075000e+07,13.000000,10.500000,15360.000000,3.253932e+06,4.000000,12660.000000,8020.000000,3580.000000,4370.000000,2022.000000,2022.000000,64.824070,-70.074340

- categorical based on ints:
    - Bedrooms
    - bathrooms
    - floors
    -

In [9]:
df.corr()['price'].sort_values(ascending=True)

id              -0.034096
long            -0.022278
lat              0.063430
yr_renovated     0.085023
sqft_lot         0.086550
yr_built         0.095796
floors           0.180589
sqft_basement    0.245005
sqft_garage      0.263674
bedrooms         0.288954
sqft_patio       0.313789
bathrooms        0.480337
sqft_above       0.538631
sqft_living      0.608616
price            1.000000
Name: price, dtype: float64

In [10]:
# Creating basic cat df based on dtype
df_cat = df.select_dtypes(object)

In [11]:
# viewing cat df
df_cat.head()

,date,waterfront,greenbelt,nuisance,view,condition,grade,heat_source,sewer_system,address
0,5/24/2022,NO,NO,NO,NONE,Good,7 Average,Gas,PUBLIC,"2102 Southeast 21st Court, Renton, Washington ..."
1,12/13/2021,NO,NO,YES,AVERAGE,Average,7 Average,Oil,PUBLIC,"11231 Greenwood Avenue North, Seattle, Washing..."
2,9/29/2021,NO,NO,NO,AVERAGE,Average,7 Average,Gas,PUBLIC,"8504 South 113th Street, Seattle, Washington 9..."
3,12/14/2021,NO,NO,NO,AVERAGE,Average,9 Better,Gas,PUBLIC,"4079 Letitia Avenue South, Seattle, Washington..."
4,8/24/2021,NO,NO,YES,NONE,Average,7 Average,Electricity,PUBLIC,"2193 Northwest Talus Drive, Issaquah, Washingt..."

- Drop ID: just a unique identifier, no helpful info
- Drop lat/long and address. Location not important in this analysis
- Drop year built (not able to change year built)

In [12]:
df_dropped = df.drop(['id', 'address', 'lat', 'long', 'yr_built'], axis = 1)

In [13]:
df_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30111 entries, 0 to 30154
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           30111 non-null  object
 1   price          30111 non-null  float64
 2   bedrooms       30111 non-null  int64
 3   bathrooms      30111 non-null  float64
 4   sqft_living    30111 non-null  int64
 5   sqft_lot       30111 non-null  int64
 6   floors         30111 non-null  float64
 7   waterfront     30111 non-null  object
 8   greenbelt      30111 non-null  object
 9   nuisance       30111 non-null  object
 10  view           30111 non-null  object
 11  condition      30111 non-null  object
 12  grade          30111 non-null  object
 13  heat_source    30111 non-null  object
 14  sewer_system   30111 non-null  object
 15  sqft_above     30111 non-null  int64
 16  sqft_basement  30111 non-null  int64
 17  sqft_garage    30111 non-null  int64
 18  sqft_patio     30111 non-null  int64
 19  yr_renovated   30111 non-null  int64
dtypes: float64(3), int64(8), object(9)
memory usage: 4.8+ MB

In [14]:
df_numerical = df_dropped.drop(['bedrooms', 'bathrooms', 'floors'], axis = 1)

In [17]:
for col in df_cat.columns:
    if col in df_numerical[col]:
        df_numerical.drop([col], axis=1, inplace=True)
    else:
        continue

KeyError: 'address'

In [16]:
df_numerical

,date,price,sqft_living,sqft_lot,waterfront,greenbelt,nuisance,view,condition,grade,heat_source,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_renovated
0,5/24/2022,675000.0,1180,7140,NO,NO,NO,NONE,Good,7 Average,Gas,PUBLIC,1180,0,0,40,0
1,12/13/2021,920000.0,2770,6703,NO,NO,YES,AVERAGE,Average,7 Average,Oil,PUBLIC,1570,1570,0,240,0
2,9/29/2021,311000.0,2880,6156,NO,NO,NO,AVERAGE,Average,7 Average,Gas,PUBLIC,1580,1580,0,0,0
3,12/14/2021,775000.0,2160,1400,NO,NO,NO,AVERAGE,Average,9 Better,Gas,PUBLIC,1090,1070,200,270,0
4,8/24/2021,592500.0,1120,758,NO,NO,YES,NONE,Average,7 Average,Electricity,PUBLIC,1120,550,550,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30150,11/30/2021,1555000.0,1910,4000,NO,NO,NO,NONE,Good,8 Good,Oil,PUBLIC,1600,1130,0,210,0
30151,6/16/2021,1313000.0,2020,5800,NO,NO,NO,FAIR,Average,7 Average,Gas,PUBLIC,2020,0,0,520,0
30152,5/27/2022,800000.0,1620,3600,NO,NO,YES,NONE,Average,7 Average,Gas,PUBLIC,940,920,240,110,0
30153,2/24/2022,775000.0,2570,2889,NO,NO,NO,NONE,Average,8 Good,Gas,PUBLIC,1830,740,480,100,0
30154,4/29/2022,500000.0,1200,11058,NO,NO,NO,NONE,Average,7 Average,Oil,PUBLIC,1200,0,420,0,0

In [ ]:
pd.plotting.scatter_matrix(df,figsize  = [15, 15]);

In [ ]:
# creating baseline model based on highest .corr() to price (ran above)
X = df[['sqft_living']]
y = df['price']

model = sm.OLS(y, sm.add_constant(X)).fit()

In [ ]:
# viewing the baseline model
model.summary()